* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  .game {
    width: 400px;
    height: 400px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #EEE;
    border-radius: 10px;

    .info {
      font-size: 24px;
    }

    .board {
      height: 100%;
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      .cell {
        width: 70px;
        height: 70px;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;
        user-select: none;

        background: #FFF;
        border-radius: 10px;
        cursor: pointer;

        &.active {
          cursor: auto;
        }
      }
    }

    .btn {
      margin-top: 1rem;
    }
  }
}
